
<div class="service-box">
    <figure>
        <img class="img-fluid" src="{{urlImage}}" alt="" />
    </figure>

    <div class="service-body">
        <div class="container-fluid p-0">
            <div class="row">
              <div class="col-12 align-center">
                <h3>{{name}}</h3>
              </div>
              <div class="col-12 align-left">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
                  <a [routerLink]="['/service', {outlets:{header:'/service'}}]" routerLinkActive="router-link-active"  class="text-prymary stretched-link">Ver mas</a></p>
              </div>
              <div class="col-6 align-right">
                <p class="align-right">Precio:</p>
              </div>
              <div class="col-6 align-left">
                <p>$ 625.00</p>
              </div>
              <div class="col-12 align-center">
                <h3>Horarios disponibles hoy</h3>
              </div>
              <div class="col-12">
                <app-grid-time-picker></app-grid-time-picker>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <button type="button" class="btn btn-success btn-lg btn-block">RESERVAR</button>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block">HAZ UN REGALO</button>
              </div>
            </div>
          </div>
    </div>
</div>
