.footer-social{
	text-align: center;
	padding: 30px 0;
	margin-top: 60px;
}


.footer-social a{
	width:60px;
	height:60px;
    font-size:30px;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	padding-top: 8px;
	margin: 0 4px;
}

.footer-social a:hover{
	background: #fff;
	color: #282828;
}
.social-buttons{
    padding-right: 50px;
}

/* Small Mobile Layout */
@media only screen and (max-width: 480px) {
    
	.footer-social{
		margin-bottom: 0px;
	}
}


.footer-info p{
	font-size: 18px;
	color: #fff;
	padding-bottom: 8px;
}

.footer-info p span{
	font-size: 20px;
	padding-right: 10px;
}
.btn-facebook{
    background: #3b5998;
}
.btn-twitter{
    background: #00acee;
}
.btn-whatsapp{
    background: #25d366;
}