
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-title">
                <h2>Nuestro equipo</h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-4">
            <div class="team-single">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" src="assets/images/team-2.jpg" alt="" />
                </figure>

                <h3>Andrea del Ruby Vargas Nuñes</h3>
                <p>Makeup Artist</p>
            </div>
        </div>
    </div>
</div>
