<!-- Banner Section Starts -->
<div class="brand" id="home">
    <app-banner></app-banner>
</div>
<!-- Banner Section Ends -->

<!-- About section starts -->
<section class="aboutus" id="about">
    <app-about-us></app-about-us>
</section>
<!-- About section ends -->

<!-- Services section starts -->
<section class="services" id="service">
    <app-services></app-services>
</section>
<!-- Services section ends -->

<!-- Our Team Section starts -->
<section class="ourteam" id="ourteam">
    <app-our-team></app-our-team>
</section>
<!-- Our Team Section ends -->

<!-- Contact section starts -->
<section class="contact" id="contact">
    <app-contact></app-contact>
</section>
<app-social-media-menu></app-social-media-menu>
<footer>
    <app-footer></app-footer>
</footer>
<!-- Contact section ends -->
