<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="service-heading">
                <h2>Tratamientos mas pedidos</h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <app-service-card viewDetailUrl="/service" urlImage="assets/images/servicios/facial_hidratante/web-principal.png" name="Facial hidratante"></app-service-card>
        </div>

        <div class="col-md-4 col-sm-4">
            <app-service-card viewDetailUrl="/service" urlImage="assets/images/servicios/lash_lift/web-principal.png" name="Lash lift"></app-service-card>
        </div>

        <div class="col-md-4 col-sm-4">
            <app-service-card viewDetailUrl="/service"></app-service-card>
        </div>
        <div class="col-12">
            <button class="btn btn-primary float-right mt-3 btn-block-responsive">Ver mas tratamientos</button>
        </div>
    </div>
</div>
