<nav id="main-nav" class="navbar bg-navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
        <!-- Logo starts -->
        <a class="navbar-brand" href="#">
            <img src="assets/images/small-logo.png" alt="Logo" />
        </a>
        <!-- Logo Ends -->
        
        <!-- Responsive Menu button starts -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Responsive Menu button Ends -->
    
        <!-- Navigation starts -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav ml-auto main-navigation" id="main-menu">
                <li class="nav-item active" appNavItemActive><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item" appNavItemActive><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item" appNavItemActive><a class="nav-link" href="#service">Service</a></li>
                <li class="nav-item" appNavItemActive><a class="nav-link" href="#ourteam">Our Team</a></li>
                <li class="nav-item" appNavItemActive><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- Navigation Ends -->
    </div>
</nav>