<div class="container">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb-nav [urls]="this.breadcrumbNav"></app-breadcrumb-nav>
      <form>
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-12">
              <img
                class="img-fluid"
                src="assets/images/whatdoyou-2.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Masaje relajante</h2>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <label>Paquete:</label>
                      </div>
                      <div class="col-lg-4 col-6">
                        <app-card-selector
                          radioButtonName="serviceConfiguration"
                          [value]="1"
                          [(model)]="this.formModel.serviceConfigSelected"
                        >
                          <p class="card-text detalle-cita">
                            <span class="far fa-clock"></span> 50 min
                          </p>
                          <p class="card-text detalle-cita">
                            <span class="far fa-list-alt"></span> 5 sesiones
                          </p>
                          <p class="card-text detalle-cita">
                            <span class="far fa-money-bill-alt"></span> $ 460.00
                          </p>
                        </app-card-selector>
                      </div>
                      <div class="col-lg-4 col-6">
                        <app-card-selector
                          radioButtonName="serviceConfiguration"
                          [value]="2"
                          [(model)]="this.formModel.serviceConfigSelected"
                        >
                          <p class="card-text detalle-cita">
                            <span class="far fa-clock"></span> 50 min
                          </p>
                          <p class="card-text detalle-cita">
                            <span class="far fa-list-alt"></span> 5 sesiones
                          </p>
                          <p class="card-text detalle-cita">
                            <span class="far fa-money-bill-alt"></span> $ 460.00
                          </p>
                        </app-card-selector>
                      </div>
                    </div>
                    <div class="row mt-2" *ngIf="false">
                      <div class="col-lg-6 col-12">
                        <label>Personal:</label>
                        <select class="form-control">
                          <option>Cualquiera</option>
                          <option>Empleado 1</option>
                          <option>Empleado 2</option>
                          <option>Empleado 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="row no-gutters mt-2">
                      <div class="col-lg-12 col-12">
                        <label>Fecha y hora:</label>
                        <div class="row">
                          <div class="col-10">
                            <app-booking-date-picker></app-booking-date-picker>
                          </div>
                          <div class="col-12">
                            <app-grid-time-picker
                              [classHour]="{ 'col-lg-3 col-md-3 col-4': true }"
                            ></app-grid-time-picker>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-lg-6 col-12">
                        <button class="btn btn-danger mr-2">Comprar</button>
                        <button class="btn btn-primary">Agregar al carrito</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripción</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
