<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-title">
                <h2>Contactanos</h2>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="contact-box">
                <div class="contact-form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="ENTER YOUR NAME" />
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="ENTER YOUR EMAIL" />
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="ENTER YOUR MOBILE" />
                        </div>
                        
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="ENTER MESSAGE HERE"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>